.header__container {
    display: flex;
    justify-content: center;
    background-image: url(@public/background.png);
    background-size: cover;
    background-repeat: no-repeat;

    min-height: 600px;
    max-height: 600px;
}

.header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 122px;
}

.header__details__wrapper {
    margin-left: 220px;
    margin-top: 132px;
}

.header__title {
    color: var(--theme-white, #FFF);
    text-shadow: 0px 27px 82px rgba(255, 174, 0, 0.28), 0px 14px 15px rgba(255, 174, 0, 0.01);
    font-family: Source Sans Pro;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    /* line-height: 100%; 88px  */
}

.header__details {
    color: #504F4F;
    font-family: Source Sans Pro;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    margin-top: 15px;
    /* line-height: 120%; 26.4px  */
}

.header__order__card {
    background-color: #ffff;
    border-radius: 16px;
    box-shadow: 0px 20px 40px 0px rgba(255, 174, 0, 0.29), 0px 5px 10px 0px rgba(255, 174, 0, 0.26);
    margin-top: 32px;
}

.header__address__wrapper {
    display: flex;
    padding: 24px;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.header__image__wrapper {
    display: flex;
    overflow: hidden;
}

.header__image {
    margin-top: 178px;
    width: 497px;
    height: 497px;
}


@media (max-width: 1800px) {
    .header__container {
        justify-content: center;
        align-items: center;
    }
    
    .header__details__wrapper {
        margin: 0;
    }

    .header__image__wrapper {
        display: none;
    }

    .header__title {
        text-align: center;
    }

    .header__details {
        text-align: center;
    }

    .header__container {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}