.promotions__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.promotions__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.promotions__title {
    color: var(--theme-gray-900, #212121);
}

.promotions__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 50px;
}


@media (max-width: 380px) {

    .promotion__image__wrapper {
        width: 220px;
        height: 185px;
        /* height: max-content; */
    }

    .promotion__discount__amount {
        font-size: 40px;
    }

    .promotion__discount__percent {
        font-size: 18px;
    }

    .promotion__discount__text {
        font-size: 16px;
    }

}