.feature__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

.feature__text__wrapper {
    background: linear-gradient(93deg, #FB3C00 -47.72%, #FFB800 136.81%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: 160px;
}

.feature__title {
    font-family: "Source Sans Pro";
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}