.orders__table__container {
    width: 100%;
}

.orders__table {
    width: 100%;
}

.order__label {
    font-family: Poppins;
    font-weight: 600;
    font-size: 20px;
    line-height: 21px
}

.order__margin__left {
    margin-left: 20px;
}