.remember__me__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 15px;
}

#rememberMe {
    border: 1px solid #dbd4ca;
    /* border-radius: 15px; */
    background-color: #ffff;
    width: 23px;
    height: 23px;
}

.checkbox__round {
    background-color: white;
    border-radius: 8px;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    transition: .4s;
}

.checkbox__round:checked {
    background-color: #FFB800 !important;
    border: 1px solid #FFB800 !important;
}

.remember__me__text {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
}
