.controlled__input__row, .controlled__input__row td {
    height: 50px;
}

.controlled__input__container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
}

.controlled__input__wrapper {
    display: flex;
    min-width: 240px;
}

.controlled__input__actions {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 90px;
}

.controlled__input__action {
    border: none;
    border-radius: 10px;
    width: 40px;
    height: 40px;
}

.controlled__input__action > * {
    padding: 2px 0;
}

.controlled__input__column__width {
    width: 100%;
}

.controlled__input__action:hover {
    background: linear-gradient(to right, rgba(255, 255, 0, 0.8), rgba(255, 165, 0, 0.8));
    filter: none;
}

.controlled__input__action:active {
    background: linear-gradient(to right, #FFD700, #FFA500);
    filter: none;
}

.controlled__input__label__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controlled__input {
    display: flex;
    border-radius: 5px;
    flex: 1;
}

.controlled__input input {
    flex: 1;
    max-width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.controlled__input__action, .controlled__input > * {
    background: #eadcdc;
}