.profile__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-size: cover;
    background-repeat: no-repeat;
    
    min-height: 500px;

}

.profile__card {
    display: flex;
    flex-direction: row;

    
    background: #ffff;
    padding: 20px;
    border-radius: 20px;
}

.profile__category__name {
    font-family: "Source Sans Pro";
    font-size: 20px;
}


.profile__category__content {
    padding: 20px;
}