.footer__container {
    
    background: var(--Theme-Gray-900, #212121);
}

.footer__wrapper {
    display: flex;
    max-width: 1400px;
    margin: 0px auto;
    /* min-width: 1922px; */
    padding: 99px 20px 69px 20px !important;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 99px;
}

.footer__company__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 63px;
    align-self: stretch;
}

.footer__center__wrapper {
    display: flex;
    justify-content: space-between;
    
    gap: 20px;
    align-self: stretch;
}
@media(min-width:991.98px){
    .footer__center__wrapper {
        align-items: flex-start;
    }
}
@media(max-width:991.98px){
    .footer__center__wrapper {
        flex-direction: column;
        max-width: 100%;
    }
}
.footer__right__wrapper {
    display: flex;
    
    flex-direction: column;
    align-items: flex-start;
    gap: 43px;
}

.footer__bottom__wrapper {
    display: flex;
    min-height: 53px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

@media (max-width: 1650px) {
    .footer__wrapper {
        padding: 99px 121px 69px 121px;
    }
}

@media (max-width: 1400px) {
    .footer__wrapper {
        padding: 99px 60px 69px 60px;
    }
}