.featured__restaurant__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
}

@media(min-width:767.98px){
    .featured__restaurant__container {
        padding: 20px;
    }
}
.featured__restaurant__wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
}

@media(max-width:767.98px){
    .featured__restaurant__wrapper {
        width: 100%;
    }
}
.featured__restaurant__food__image {
    border-radius: 16px;
    background-color: lightgray;
    width: 100%;
    height: 100%;
}
.featured__restaurant__food__image img {
    border-radius: 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media(max-width:487.98px){
    .featured__restaurant__food__image__wrapper {
        width: 100%;
    }
}
.featured__restaurant__information {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
@media(max-width:487.98px){
    .featured__restaurant__information {
        gap: 12px;
    }
}
.featured__restaurant__logo {
    display: flex;
    width: 64px;
    height: 64px;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
    background-color: lightgray;
    background-size: cover;
    background-repeat: no-repeat;
}

.featured__restaurant__details {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

.featured__restaurant__name {
    color: var(--theme-gray-800, #424242);
    font-family: Source Sans Pro;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
@media(max-width:487.98px){
    .featured__restaurant__name {
        font-size: 18px;
    }
}
.featured__restaurant__rating__wrapper {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    gap: 8px;
}

.featured__restaurant__rating__image {
    color: var(--theme-primary, #FFB30E);
    font-family: Font Awesome 5 Free;
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    line-height: 106%;
}

.featured__restaurant__rating__value {
    color: var(--theme-primary, #FFB30E);
    font-family: Source Sans Pro;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 105%;
}

.featured__restaurant__open__information {
    display: flex;
    padding: 8px 16px;
    /* align-items: flex-start; */
    /* justify-content: center; */
    border-radius: 16px;
}
@media(max-width:767.98px){
    .featured__restaurant__open__information {
        width: 100%;
        justify-content: center;
        padding: 8px 0px;
    }
}
.featured__restaurant__opened {
    background: rgba(121, 185, 60, 0.20);
    color: var(--Theme-Success, #79B93C);
    font-family: Source Sans Pro;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}


.featured__restaurant__closed {
    background: rgba(241, 114, 40, 0.40);
    color: var(--Theme-Warning, #F17228);
    font-family: Source Sans Pro;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}