.order__cart__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
    background-color: rgb(227, 225, 225);
    height: calc(100vh - 180px);
    max-height: calc(100vh - 180px);
    min-width: 600px;
}

.order__cart__wrapper {
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 50px;
    row-gap: 50px;
}

.order__cart__title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
}

.order__cart__content {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    flex-grow: 1;
    height: 80%;
}

.order__cart__empty {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    text-align: center;

    margin: auto 0;
}

.order__cart__button {
    margin-top: auto;
}

.order__cart__button__wrapper {
    width: 100%;
}