.menu__category__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
}

.menu__category__name {
    align-self: flex-start;

    font-family: "Source Sans Pro";
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}