.food__categories__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 82px 22px 55px 22px;
    background: #FEFAF1;
}

.food__categories__wrapper {
    display: flex;
    flex-direction: column;
    gap: 88px;
}

.food__categories__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
@media(max-width:767.98px){
    .food__categories__header  {
        flex-direction: column;
    }
} 

.food__categories__title {
    color: var(--Theme-Gray-900, #212121);
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 43px;
    font-style: normal;
    font-weight: 700;
    line-height: 112%;
}

.food__categories__buttons__wrapper {
    display: flex;
    gap: 26.5px;
}
@media(min-width:767.98px){
    .food__categories__buttons__wrapper {
        align-items: center;
    }
}
@media(max-width:767.98px){
    .food__categories__buttons__wrapper {
        width: 100%;
        justify-content: center;
    }
}
.food__categories__sliders {
    display: flex;
    
    justify-content: flex-end;
    align-items: center;
    gap: 26.5px;
}

.food__categories__list {
    
}
@media(min-width:576.98px){
    .food__categories__list {
        display: flex;
        flex-direction: row;
        /* align-content: flex-start; */
        justify-content: space-around;
        /* align-items: flex-start; */
        align-self: stretch;
        flex-wrap: wrap;
        gap: 30px;
    }
}
@media(max-width:576.98px){
    .food__categories__list {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
}

/* .food__categories__list > * {
    flex: 1 0 0;
} */
