.ready__orders__category__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.ready__orders__category__text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 22px;
    line-height: 21px;
    text-align: center;

    margin-top: 20px;
}