.custom__phone__container {
    border-radius: 4px;
    /* padding-top: 10px !important; */
    /* padding-bottom: 10px !important; */
}

.custom__phone__dropdown {
    border: none !important;
    background-color: #eff5f5 !important;
}

.custom__phone__dropdown:hover {
    filter: none !important;
    cursor: default !important;
} 

.custom__phone__dropdown .selected-flag {
    display: flex !important;
    justify-content: center !important;
    padding: 0 !important;
    background-color: #eff5f5 !important;
    border: none;
}

.custom__phone__dropdown .selected-flag:hover {
    background-color: inherit;
}

.custom__phone__input {
    border: none !important;
    height: 100% !important;
    font-family: Poppins !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    /* padding-top: 10px !important;
    padding-bottom: 10px !important; */
}