.order__button__wrapper {
    padding: 21px 48px;
    align-self: stretch;

    border-radius: 8px; 
    background: var(--theme-warning, #F17228);
    box-shadow: 0px 20px 40px 0px rgba(250, 99, 35, 0.24), 0px 5px 10px 0px rgba(253, 114, 92, 0.22);
}

.order__button__text {
    color: var(--theme-white, #FFF);
    font-size: 18px;
    font-weight: 700;
}