.order__button__wrapper {
    display: flex;
    padding: 21px 48px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;

    cursor: pointer;
    user-select: none;

    border-radius: 8px; 
    background: var(--theme-warning, #F17228);
    box-shadow: 0px 20px 40px 0px rgba(250, 99, 35, 0.24), 0px 5px 10px 0px rgba(253, 114, 92, 0.22);
}

.order__button__wrapper:hover {
    filter: brightness(110%);
}

.order__button__wrapper:active {
    filter: brightness(130%);
}

.order__button__text {
    color: var(--theme-white, #FFF);
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}