.food__category__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
}

.food__category__image__wrapper {
    border-radius: 50%;
    background-color: lightgray;
    background-size: cover;
    background-repeat: no-repeat;
    width: 218px;
    height: 218px;
    flex-shrink: 0;
}

.food__category__name {
    color: var(--Theme-Gray-800, #424242);
    font-family: Source Sans Pro;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}