.menu__categories__names__container {
    display: flex;
    flex-direction: column;
    
    min-width: 200px;
    gap: 15px;
}

.menu__categories__names__title {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
}

.menu__categories__names__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}