.address__selector__container {
    width: 100%;
    /* margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: fit-content;
    background-color: #f9f9f9; */
}

.address__selector__dropdown {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;

    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
}

.address__selector__option {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
}

.address__selector__dropdown:focus {
    outline: none;
    border-color: #f1b23c;
    box-shadow: 0 0 5px rgba(252, 179, 9, 0.7);
}