.show__restaurant__rating__button__wrapper {
    border: 0;
    height: 56px;
    display: flex;
    padding: 12px;
    position: relative;
    min-width: 56px;
    background: rgba(255, 255, 255, 0.8);
    text-align: left;
    transition: background .1s;
    align-items: center;
    border-radius: 16px;
    padding-right: 18px;
    justify-content: center;
}

.show__restaurant__rating__button__wrapper:hover {
    filter: none;
    background: rgba(255, 255, 255, 0.9)
}

.rating__details__value {
    font-size: 20px;
    font-family: Open Sans;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.01em;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.rating__details__reviews__count {
    opacity: 0.5;
    font-size: 13px;
    font-family: Open Sans;
    line-height: 14px;
    font-feature-settings: 'pnum' on, 'lnum' on;
}