.add__to__cart__button__wrapper {
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(244, 223, 36);
}

.add__to__cart__button__text {
    font-size: 18px;
    font-weight: 500;
}