.featured__restaurants__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured__restaurants__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 88px;
}

.featured__restaurants__list {
    padding: 0px 15px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 16px;
    row-gap: 64px;
    flex-wrap: wrap;
    max-width: 1481px !important;
}
@media(max-width:1280.98px){
    .featured__restaurants__list {
        grid-template-columns: repeat(3,1fr);
    }
}
@media(max-width:991.98px){
    .featured__restaurants__list {
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:427.98px){
    .featured__restaurants__list {
        grid-template-columns: repeat(1,1fr);
    }
}