.menu__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    background-color: #F5F4F2;
    padding: 40px;
    column-gap: 80px;
}

.menu__left__wrapper {
    position: sticky;
    top: 150px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    /* overflow-y: hidden; */
    /* min-width: 450px; */
    flex: 0 1 15%;
}

.menu__divider {
    margin-left: 30px; 
    position: sticky;
    top: 150px;
    align-self: normal;
}

.menu__content__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    flex-grow: 1;
    min-width: 881.56px;
    max-width: 1340px;
}

.menu__order__cart {
    position: sticky;
    top: 150px;
    display: flex;
}

.menu__not__available {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}

/* @media (max-width: 856px) {
    
    .menu__category__items__list {
        grid-template-columns: auto;
    }
}


@media (max-width: 435px) {
    
    .menu__category__item__wrapper {
        max-width: 100px;
    }

    .menu__category__item__rating__reviews__wrapper {
        flex-direction: column;
        align-items: start;
    }

    .menu__category__item__price {
        margin-top: 20px;
    }
} */

@media (max-width: 2834px) { 
    .menu__content__wrapper {
        max-width: 882px;
    }

}